/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    padding: 0 50px;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

.logo-booki {
    width: 61.09px;
    height: 19px;
    padding: 30px 0 60px 50px;

}

.hebergements-nav {
    font-size: 16px;
    margin-right: 69px;

}

.hebergements-nav:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 14px;
}

.activites-nav {
    font-size: 16px;
    margin-right: 50px;
}

.activites-nav:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 14px;
}

/****** barre de recherche ***********/

.formulaire-recherche {
    display: flex;
    margin-top: 35px;
}

::-webkit-input-placeholder {
    text-align: center;
}

button {
    padding: 15px 16px;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    height: 49px;
}

.icone-recherche {

    background-color: #F2F2F2;
    color: black;
    font-size: medium;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/****** filtres ***********/

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.économique {
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.économique:hover {
    background-color: #DEEBFF;
}

.familial {
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.familial:hover {
    background-color: #DEEBFF;
}

.romantique {
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.romantique:hover {
    background-color: #DEEBFF;
}

.nos-pepites {
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nos-pepites:hover {
    background-color: #DEEBFF;
}

/* zone-ibfo */

.align-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.cercle-info {
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cards */
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 200px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;

}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 15px;
}

.hebergements-afficherplus {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    header {}

}


header

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}